
<h1>
    <a id="home-link" href="">Liam Wang</a>
</h1>

<div id="contacts">
    <div class="header-link">
        <a id="gallery-page" href="">Gallery</a>
    </div>
    <div class="header-link">
        <a id="about-me-page" href="">About Me</a>
    </div>
    <div class="header-link">
        <a id="contact-page" href="">Contacts</a>
    </div>
</div>

<div id="contacts">
    <div class="header-link">
        <a href="https://www.linkedin.com/in/liam-c-wang/"target="_blank">LinkedIn</a>
    </div>
    <div class="header-link">
        <a href="https://github.com/liamcwang"target="_blank">Github</a>
    </div>
    <div class="header-link">
        <a href="mailto:liamcwang@gmail.com">Email</a>
    </div>
</div>
